PG_HOST=localhost
PG_DATABASE=northwind_db
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password

SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=NORTHWIND_DW
SNOWFLAKE_SCHEMA=STAGING_SCH
